PORT=3001
DATABASE_URL=postgresql://myuser:mysecretpassword@localhost:5432/time_service
RABBITMQ_URL=amqp://admin:password123@localhost:5672
RABBITMQ_QUEUE=time.events.queue
REDIS_HOST=localhost
REDIS_PORT=6379
